body {
    margin: 60px auto;
    width: 70%;
    background: #1D1D1D;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul {
  font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {

  color: lightblue;
}

a.active{
  color: #FFE000;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #999999;
}
p {
    font-size: 1.9em;
    line-height: 1.2em;
    color: #646464;
}

footer a,
p a{
  color: #999999;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul .posts {

  margin: 15px auto 40px;


}

ul.posts li {
  list-style: none;
  margin-bottom: 0;

}
ul.posts li span{

  color: #FFE000;
  margin-bottom: 0;
  margin-right: 2px;

}
.posts li a {

  font-size: 1.7em;
  color: gainsboro;
  margin-bottom: 0;
}

.date {
    color: #FFE000;
}

.posts-title {
  margin: 0;
}
.posts-subtitle {

  font-size: 1.6em;
  margin-top: 0;
  line-height: 0.9em;

}
