body {
    background: #1D1D1D;
    margin: 5px 2px 15px 2px;
    animation-name: fadeout;
    animation-duration: 300ms;

}

/*anchors*/
a {

  color: #FFE000;

}

a:hover {
  color: lightblue;

}

a.active{
  color: #a8a8a8;

}

footer a,
.page-paragraph a,
.posts-title a,
.post a{

  color: #999999;

}

footer a:hover,
.page-paragraph a:hover,
.posts-title a:hover,
.post a:hover{
  color: lightblue;

}

/*row*/
.cv-row{
  margin-left: 3px;
}

/*footer*/



footer {
  margin-top: 20px;
  border-top: 1px solid #d5d5d5;
  font-size: .8em;

}
#footer li{

  display: inline;
  margin-right: 10px;

}

/*posts*/

.posts {
  margin: 15px auto 20px;

}

ul.posts li {
  list-style: none;
  margin-bottom: 0;

}

ul.posts li span{
  color: #FFE000;
  margin-bottom: 0;
  margin-right: 2px;

}

.posts li a {
  font-size: 1.7em;
  margin-bottom: 0;

}



/*post*/


.date,
.post-date {
    color: #999999;

}
.post-date{
  font-size: 15px;

}

/*image*/

.image-wrapper {
  text-align: center;

}

.image-wrapper .image-caption{
  color: #999999;
  margin-top: 3px;
  font-size: 1em;

}

/*paragraphs*/

.page-paragraph,
.post{
  font-size: 1.9em;
  line-height: 1.2em;
  color: #646464;

}

/*titles subtitles*/

.page-title,
.page-title-posts,
.cv-title,
.post-title{
  font-size: 3em;
  font-family:"Helvetica", "Arial", "Sans-Serif";
  color: #999999;

}



ul .posts-title {
  margin: 0;

}

.posts-subtitle{

  color: #646464;
  font-size: 1.6em;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1em;

}

/*category-categories*/


.category-title {

  font-size: 2em;
  color: #999999;
  margin-left: 8%;

}
.category-subtitle{

  color: #FFE000;
  font-size: 1.5em;
  margin-left: 8%;


}

.categories-list{

  margin-left: 6%;

}
#categories {

  margin-top: 5px;
  margin-bottom: 30px;
}



/*cv*/

.cv {
  margin-bottom: 20px;

}
.cv-address{

  color: #999999;
  font-size: 1.69em;
  line-height: 0.9em;
  margin-top: 0;
  margin-bottom: 5px;
}
.cv-body {

}
.cv-body li{

  color: #999999;
  font-size: 1.6em;

}
.cv-header-subtitle,
.cv-body-subtitle {

  color: #FFE000;
  font-size: 1.5em;

}

.cv-header{

  margin-bottom: 20px;
}

.cv-header-title {

  color: #d5d5d5;
  font-size: 2.1em;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 0.9em;
  text-decoration: underline;

}

.cv-paragraph {

  color: #646464;
  font-size: 1.4em;
  line-height: 0.9em;
  margin-top: 0;
  margin-bottom: 2px;

}

.cv-section {

  margin-top: 15px;
  margin-bottom: 20px;
}

.cv-section-subtitle{

  color: #646464;
  font-size: 1.5em;
  text-decoration: underline;
  text-decoration-color: #999999;
  line-height: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.cv-section-ul {

  margin: 10px;
  font-size: 14px;

}
#cv-resume {

  margin-bottom: 23px;

}

/*navigation*/

#defaultNavigation, #footer {
  font-family:"Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  list-style: none;
  font-weight: bold;

}


#defaultNavigation {
  font-size: 20px;

}


@keyframes fadeout {
  from {opacity: 0.3;}
  to {opacity: 1;}

}


@media only screen and (min-width: 320px) {

  body {
    margin-right: 5px;

  }

  .image-wrapper .image-caption{
    font-size: 12px;

  }

  .posts {
    margin: 15px 1% 30px;

  }

  .posts-wrapper {
    margin-right: 3px;

  }

  .page-paragraph,
  .post{
    font-size: 1.6em;
    line-height: 1em;

  }
  .cv-address {
    font-size: 1.4em;
    line-height: 0.9em;
  }

  .cv-body li{

    font-size: 1.4em;

  }

  .post-title{

    font-size: 2.5em;

  }

  .page-title,
  .page-title-posts,
  .cv-title{
   font-size: 2.6em;

 }
  .page-title-posts {
    margin-left: 15px;
  }

  #defaultNavigation {
    font-size: 14px;

  }

}
@media only screen and (min-width: 360px) {

  .cv-body li{

    font-size: 1.5em;

  }

  .posts {

    margin: 15px 1% 20px;

  }


  .page-paragraph,
  .post{
    font-size: 1.7em;
    line-height: 1.1em;

  }
  .post-title{

    font-size: 2.6em;
    /*text-align: left;*/
  }

  .page-title,
  .page-title-posts,
  .cv-title{
    font-size: 2.8em;
    text-align: justify;

  }
  .page-title-posts{
    font-size: 2.8em;
    text-align: left;

  }

  .page-title-posts {
    margin-left: 25px;
  }

  #defaultNavigation {
    font-size: 16px;

  }

}
@media only screen and (min-width: 480px) {

  .cv-address {
    font-size: 1.69em;
    line-height: 0.9em;
  }

  .cv-body li{

    font-size: 1.6em;

  }


  .page-paragraph,
  .post{
    font-size: 1.9em;
    line-height: 1.2em;

  }


  .post-title {

    font-size: 2.9em;

  }

  .page-title,
  .page-title-posts,
  .cv-title{
    font-size: 3em;
    text-align: center;

  }
  .page-title-posts{
    margin-left: 0;
  }

  #defaultNavigation {
    font-size: 19px;
    margin-left: 15px;

  }


}
@media only screen and (min-width: 768px) {

  body {
    margin-right: 2px;

  }

  .cv-title{

    margin-top: 20px;
  }

  .posts-wrapper {
    margin-right: 0;

  }

  #cv-HankQuinlan {

   /*margin-right: 10%;*/
    float: left;
  }
  #cg {

    float: right;
  }


  #defaultNavigation {
    margin-left: 2%;

  }

  #footer li{
    font-size: 14px;

  }

}
@media only screen and (min-width: 980px) {

  .page-title,
  .page-title-posts,
  /*.cv-title*/
  .post-title{
    margin-top: 20px;

  }


  #defaultNavigation {
    margin-left: 12%;
    font-size: 20px;

  }

}

@media only screen and (min-width: 1024px) {


  .image-wrapper .image-caption{
    font-size: 14px;

  }

  .posts {
    margin: 15px 15% 20px;

  }

  #defaultNavigation {
    margin-left: 5%;
    font-size: 23px;

  }

}

@media only screen and (min-width: 1920px) {

  #defaultNavigation {
    margin-left: 20%;
    font-size: 25px;

  }

}