---
layout: default
title: Hank Quinlan, Curriculum Vitae
subtitle: CV
navigation_weight: 3
---
<div class="row cv-row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {% for cv_hash in site.data.CV %}
    {% assign cv = cv_hash[1] %}
    <h1 class="cv-title">{{page.title}}</h1>
    <div class="cv">
      <div class="cv-header">
        <h3 class="cv-header-title text-justify">{{cv.name}}</h3>
        <h5 class="cv-header-subtitle text-justify">Intro</h5>
        <address class="cv-address">
          <span><strong>{{cv.address}}</strong></span>
        </address>
        <p class="page-paragraph" id="cv-resume">{{cv.resume}}</p>
      </div>
      <div class="cv-body">
        <h5 class="cv-body-subtitle text-justify">Degrees</h5>
        <ul>
          {% for degree in cv.degrees %}
          <li class="">{{degree.name}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
